<div class="simple-drone" style="width: 200px;">
  <div class="knob" data-key="freq" data-id={"#{@id}"}>
    <div class="knob-slider"></div>
    <div class="inner">
      <%= @freq %>
    </div>
  </div>
</div>
